<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyWebGame</title>
    <link rel="stylesheet" href="../css/teststyle.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

<script src="../js/script.js"></script>
<body>    
    <div ng-app="myApp" ng-controller = "myCtrl">
      <div class="game-nav">
        <a href="../index.html" style="text-decoration: none;">Home</a>
        <label><input type="radio" name="option" ng-model="level" ng-click = "setterFun();" value="3"> 3 X 3</label>
        <label><input type="radio" name="option" ng-model="level" ng-click = "setterFun();" value="4"> 4 X 4</label>
        <label><input type="radio" name="option" ng-model="level" ng-click = "setterFun();" value="5"> 5 X 5</label>
        <label><input type="radio" name="option" ng-model="level" ng-click = "setterFun();" value="6"> 6 X 6</label>
      </div>
      <!-- <p>Game : <input ng-model="level" ng-change = "setterFun();" type="number"></p> -->
      <div class="center-page">        
        <h1 id="win-text" ng-show="flag" >🏆 You Won! 🏆</h1>
      </div>      
      <div id ="parent" class="parent">
        <div class="child-image" ng-repeat = "obj in myobj" id="child{{obj.v}}" 
        style="top:{{obj.y}}px;left:{{obj.x}}px;width:{{elen}}px;height:{{elen}}px;background-image:url(../image/set{{n}}/govardhan_{{obj.v}}.png)" 
        ng-click="fun(obj.v,$event);">          
        </div>
        <div class="child-image" id="emptyEle" ng-show="flag2"
        style="top:{{empty.y}}px;left:{{empty.x}}px;width:{{elen}}px;height:{{elen}}px;background-image:url(../image/set{{n}}/govardhan_{{n*n-1}}.png)">          
        </div>              
      </div>
      <div id="parHelp" class = "parent" style ="display: none; background-image:url(../image/set3/sgovardhan.png)"></div>
      <p style="margin-top: -100px;">
        <button class="btn" onclick="helpClicked()">
        <i class="fa fa-eye"></i> Help
        </button>
        <button class="btn" ng-model="simple" ng-click="simplifyClicked()">Simplify</button>
      </p>      
         
</div>   
</body>
</html>